/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~react-table/react-table.css';

body {
  margin-top: 10px;
  color: white;
  height: 100vh;
  background-color: #232c39;
  background-image: linear-gradient(
    124deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(0, 100, 107, 0.7)
  );
  font-family: Arial, Helvetica, Helvetica Neue, serif;
}

.card {
  margin-top: 20px;
}

.blockHash {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
